<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientLib.js @ categories='myTraining.base'}"/>


<sly data-sly-use.model="com.ajeet.demo.core.models.TeacherCompModel"/>

<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    <div class="cq-placeholder cq-marker-start" data-emptytext="teacher component"></div>
</sly>

<sly data-sly-test="${!wcmmode.edit && !wcmmode.design}">
    <h2>teacher component</h2>
    <sly data-sly-test="${model.list}">
        Roll : Teacher
        <table style="width:50%">
            <tbody>
            <tr>
                <td>
                    <sly data-sly-test="${model.firstName}">
                        firstName : ${model.firstName}
                    </sly>
                </td>
                <td>
                    <sly data-sly-test="${model.lastName}">
                        lastName : ${model.lastName}
                    </sly>
                </td>
            </tr>
            <tr>
                <td>
                    <sly data-sly-test="${model.email}">
                        email : ${model.email}
                    </sly>
                </td>
                <td>
                    <sly data-sly-test="${model.contact}">
                        contact : ${model.contact}
                    </sly>
                </td>
            </tr>
            <tr>
                <td>
                    <sly data-sly-test="${model.qualification}">
                        qualification : ${model.qualification}
                    </sly>
                </td>
                <td>
                    <sly data-sly-test="${model.experience}">
                        experience : ${model.experience}
                    </sly>
                </td>
            </tr>
            <tr>
                <td>
                    <sly data-sly-test="${model.dob}">
                        DOB : ${model.dob}
                    </sly>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Subject List :</label>&ensp;
                    <select name="subject" id="subject" data-sly-list="${model.list}">
                        <option value="${item}">${item}</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </sly>

    <sly data-sly-test="${!model.list}">
        no data available in this path
    </sly><br>
</sly>


    <!-- <sly data-sly-test="${model.firstName}">
            firstName : ${model.firstName}
        </sly><br>
        <sly data-sly-test="${model.lastName}">
            lastName : ${model.lastName}
        </sly><br>
        <sly data-sly-test="${model.contact}">
            contact : ${model.contact}
        </sly><br>
        <sly data-sly-test="${model.email}">
            email : ${model.email}
        </sly><br>
        <sly data-sly-test="${model.qualification}">
            qualification : ${model.qualification}
        </sly><br>
        <sly data-sly-test="${model.experience}">
            experience : ${model.experience}
        </sly><br>

        <label>Subject List :</label>&ensp;
        <select name="subject" id="subject1" data-sly-list="${model.list}">
            <option value="${item}">${item}</option>
        </select><br>-->